[submodule "deps/jerry"]
	path = deps/jerry
	url = https://github.com/LightSourceEngine/jerryscript.git
    ignore = untracked
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/Samsung/http-parser.git
    ignore = untracked
[submodule "deps/libtuv"]
	path = deps/libtuv
	url = https://github.com/LightSourceEngine/libtuv.git
    ignore = untracked
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
    ignore = untracked
[submodule "deps/node-api-headers"]
	path = deps/node-api-headers
	url = https://github.com/LightSourceEngine/node-api-headers.git
[submodule "deps/libutf16"]
	path = deps/libutf16
	url = https://github.com/mbuilov/libutf16.git
[submodule "deps/STC/repo"]
	path = deps/STC/repo
	url = https://github.com/tylov/STC.git
