name: veil-build

on:
  push:
    branches:
      - main

jobs:
  build-job:
    if: github.event_name == 'push' && contains(toJson(github.event.commits), '[ci skip]') == false
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        include:
          - os: macos-10.15
            os_alias: macos
          - os: ubuntu-18.04
            os_alias: linux
          - os: windows-2019
            os_alias: windows
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Yarn Cache
        uses: egordm/gha-yarn-node-cache@v1

      - name: Build
        if: contains(matrix.os, 'windows') == false
        run: ./tools/build.py --n-api --no-init-submodule --no-snapshot --jerry-heaplimit=8192 --buildtype=release --js-backtrace=ON --jerry-lto

      - name: Build (Windows)
        if: contains(matrix.os, 'windows') == true
        run: ./tools/build.py --n-api --no-init-submodule --no-snapshot --jerry-heaplimit=8192 --buildtype=release --js-backtrace=ON

      # disable tests until url builtin is complete
      # - name: Test
      #   run: ./test/runner.sh

      - name: Package
        run: ./tools/create-package.sh

      - name: Upload Runtime
        uses: actions/upload-artifact@v3
        with:
          name: veil-runtime-artifact
          if-no-files-found: error
          retention-days: 3
          path: |
            build/package/veil-*.tgz
            build/package/veil-*.zip
